body {
  font-family: 'Open Sans';
  color: #424242;
  margin: 0;
  background-color: #F2F4F8;
  padding: 0 !important;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
  width: 7px;
} 
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}